html {background-image: url("http://4.bp.blogspot.com/_ZuhlaxHBCjI/SgxJv-M2g_I/AAAAAAAAAVc/uJVtWPbYbiQ/s1600-h/Imagen+004.jpg");}
h1 {color: darkmagenta}
img {width: 400px }
#spanId {font-size:18px ; margin: 50px}
#thirdDiv{padding:50px;border: red 5px ridge}
.divClass{width: 500px; height:600px }

