  *{text-align:center;}
  h1{
    color: darkmagenta;
    }
    
    img{
    
    width: 400px;
    }
    
    #thirdDiv{
    height:600px;
    width: 500px;
    background-color: blueviolet;
    padding:50px;
    border:5px solid black;
    margin-left: 310px;
    margin-top: 50px;
    }
          
    #spanId{
    font-size: 18;
    margin: 50px;
    }
  contenedor{
   display: flex;
   flex-direction:row;
   justify-content: space-between;
  }  
